@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Button
	1.3 - Lists
	1.4 - Table
	1.5 - Form
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2 - Site Header
	3.3 - Site Footer
4.0 - Media
5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments
6.0 - Media Queries
7.0 Flex
--------------------------------------------------------------*/

*, *:after, *:before { /*Fictitious elements, makes everything the same in regards to width, padding, and border*/
	-moz-box-sizing: border-box;
	-os-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

/*--------------------------------------------------------------
>>> TYPOGRAPHY:
----------------------------------------------------------------*/

html {
	font: 14px 'Open Sans', sans-serif;
	color: #084771;
}

p {
	font-size: 1rem;
}

#about h3 {
	font-size: 1rem;
}

#home p {
	color: #fff;
}

h1, h1+p {
	text-align: right;
}

h1, h2, h3 {
	text-transform: uppercase;
}

section:last-of-type h2 {
	text-transform: capitalize;
}

/*1.1 - Headings*/



/*1.2 - Buttons*/


header li span {
	overflow: hidden;
	background-color: #f07c5e;
	display: inline-block;
}
header li a {
	opacity: 0;
	padding: 10px;
	color: #fff;
	max-width: 0;
	display: inline-block;
	text-decoration: none;
	transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
}

header span:hover a {
	opacity: 1;
	max-width: 150px;
	transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
}




/*1.3 - Lists*/

#home nav li {
	list-style: none;
	margin: 8px;
	
}


/*1.4 - Table*/

/*1.5 - Form*/

form label {
	display: none;
}

/*--------------------------------------------------------------
>>> 2.0 NAVIGATION MENUS:
----------------------------------------------------------------*/

/*2.1 - Main*/

/*--------------------------------------------------------------
>>> 3.0 CONTENT:
----------------------------------------------------------------*/

/*3.1 - Site Structure*/

[class*='col-'] {
	float: left;
	padding: 0 10px 20px 10px;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

header .wrapper>div {
	padding-top: 20px;
}

form {
	display: inline;
}

.center-block {
	margin: 0 auto;
	text-align: center;
	float: none;
}

#five-day-pckg {
	position: relative;
	left: -150px;
	top: 0;
}

#instructors .wrapper {
	position: relative;
	left: 0;
	top: 0;
	z-index: 1;
}

#instructors .col-5-6 {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

#about p {
	display: inline;
}

#about input {
	width: 440px;
}

#about h3, nav ul {					/*--------------MARGIN TOP: 0;-------------*/
	margin-top: 0;
}


    


/*
.flickity-viewport {
	max-height: 300px !important;
}
*/

.flickity-prev-next-button {
	display: none;
}

#gallery {
	position: absolute;
	top: 0;
	left: 150px;
	z-index: -1;
}

.hoverParent {
	position: relative;
	top: 0; 
	left: 0;
}

.hoverParent:last-child {
	margin-right: 0;
}

.hoverParent:hover .hoverContent {
	background-color: rgba(6, 6, 51, 0.5);
	padding-top: 130px;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

@media screen and (min-width: 480px) {
	.container{
		width: 800px;
		margin: 0 auto;
	}
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

#map {
	height: 200px;
	margin-top:100px;
}

#all-packages {
	list-style: none;
}


						/* FLEX CODE */ 

.flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
 	overflow: hidden;
}

.flex [class*='col-'] {
  flex: 1;
}

#instructors {
	height: 500px;
}

						/* END FLEX CODE */ 


[class*='col-']:last-of-type {
  padding-right: 0;
}






.slider {
  overflow-x: scroll;
}

.slide {
  float: left;
  width: 600px;
  height: 400px;
}

.holder {
  width: 600%;
}

#slide-0 {
  background-image: url(../img/gallery-1.jpg);
}

#slide-1 {
  background-image: url(../img/gallery-2.jpg);
}

#slide-2 {
  background-image: url(../img/gallery-3.jpg);
}

#slide-3 {
  background-image: url(../img/gallery-4.jpg);
}

#slide-4 {
  background-image: url(../img/gallery-5.jpg);
}

.slide:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
}

.hoverParent {
	position: relative;
	top: 0; 
	left: 0;
}

.hoverContent {
	display: none;
}

.hoverParent:hover .hoverContent {
	background-color: rgba(6, 6, 51, 0.5);
	text-align: center;
	color: #fff;
	padding-top: 10%;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}





.col-1-2 {
	width: 50%;
}

.col-1-3, [class*='col-lg'] {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
	margin-top: -15px;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.3%;
}

.col-1-7 {
	width: 14.28%;
}

.col-2-7 {
	width: 28.57%;
}

.col-5-7 {
	width: 71.42%;
}

.col-1-8 {
	width: 12.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-4-9 {
	width: 44.44%;
}

.col-5-9 {
	width: 55.55%;
}

.col-1-10 {
	width: 10%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-1-11 {
	width: 9.09%;
}

.col-4-11 {
	width: 36.36%;
}

.col-7-11 {
	width: 63.63%;
}

.col-1-12 {
	width: 8.33%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.31%;
}

/*--------------------------------------------------------------
>>> 4.0 - Media 
-------------------------------------------------------------- */


#home:after { /* TYPOGRAPHY  */
	content: 'SUMMER';
	color: #084771;
	font-size: 15rem;
	font-weight: 700;
	position: absolute;
	right: 420px;
	bottom: -50px;
	z-index: -2;
}

#home {
	position: relative;
	top: 0;
	left: 0;
	background: url(../img/header-image.svg) no-repeat center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	min-height: 700px;
}	

section:last-of-type ul {
	list-style: none;
	padding-left: 0;
}

section:last-of-type ul span {
	display: none;
}

section:last-of-type ul li {
	display: inline-block;
}

section:last-of-type ul li a {
	width: 25px;
	height: 25px;
	display: inline-block;
}

section:last-of-type ul li:first-child a {
	background: url(../img/icon-fb.png)
}

section:last-of-type ul li:last-child a {
	background: url(../img/icon-instagram.png)
}

section:last-of-type ul li a:hover {
	background-position: 0 -25px;
}


.img-responsive {
	width: 100%;
}

#packages:after { /* TYPOGRAPHY  */
	content:"PA \A CKAGES" ;
	white-space: pre;
	color: #084771;
	font-size: 15rem;
	font-weight: 700;
	line-height: 180px;
	position: absolute;
	left: 20px;
	bottom: 430px;
	z-index: -2;
}


#packages { /* BLUE BACKGROUND WAVE */
	position: relative;
	top: 0;
	left: 0;
	background: url(../img/background-blue.svg) no-repeat 200px 300px;
	width: 100%;
}

#instructors {
	background: url(../img/background-blue-bottom-01.svg) no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

#instructors:after { /* TYPOGRAPHY  */
	content: "INSTRUCTORS";
	color: #084771;
	font-size: 15rem;
	font-weight: 700;
	position: absolute;
	right: -930px;
    bottom: -1630px;
	z-index: -2;
}


	





/*--------------------------------------------------------------
>>> 5.0 UTILITY:
----------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> 6.0 FLOATS:
----------------------------------------------------------------*/
.f-r {
	float: right;
}

.nf {
	float: none;
}



/*--------------------------------------------------------------
>>> 7.0 FLEX:
----------------------------------------------------------------*/

.flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
 	overflow: hidden;
}

.bg-lght-blue {
  	flex: 1;
	height: 100%;
	background-color: #edf4fb;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: right;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none;
	background: #ededed;
}

.tab-content.current {
	display: inherit;
}
		

.tab-content .col-1-2 h3 {
	text-indent: -40px;
}


/*--------------------------------------------------------------
>>> 7.0 RESPONSIVE/MEDIA QUERIES:
----------------------------------------------------------------
/*7.1 - SMALL DISPLAY--smaller than tablet*/

@media screen and (max-width: 480px) {
	
	.wrapper {
		width: 98%;
	}
	

/*--------------------------------------------------------------
>>> TYPOGRAPHY:
----------------------------------------------------------------*/

	
	nav ul li {
		list-style: none;
		display: inline-block;
	}
	

	
	#home .wrapper div:nth-child(2) div {
		text-align: right;
	}
	
	#home .wrapper div:nth-child(3) div {
		text-align: center;
	}

	
	#img-5-day {
		display: none;
	}

	
	#instructors header, #instructors header+p {
		text-align: center;
	}

	
	section .col-1-2 {
		text-align: center;
	}
	
	footer .col-1-12 {
		text-align: center;
	}
	
	
/*--------------------------------------------------------------
>>> 2.0 NAVIGATION MENUS:
----------------------------------------------------------------*/
	
/*--------------------------------------------------------------
>>> 3.0 CONTENT:
----------------------------------------------------------------*/
	
	/*3.1 - Site Structure*/
	
	nav.col-5-12, #home .wrapper div:nth-child(2) div, input, #services .col-1-6, #packages [class*="col-"], #instructors .col-1-2, section .col-1-2, footer .col-1-12, .col-1-3, .col-2-3, .col-1-7, .col-1-12, .col-1-4 {
		width: 100%;
	}
	
	.container {
	display: block;
}
	.tabs {
		display: none;
	}
	
/*--------------------------------------------------------------
>>> 4.0 - Media 
-------------------------------------------------------------- */
	.gallery-cell { 
		width: 50%; 
	}
	
	.carousel-cell {
    height: 300px;
  }
	
	.carousel-cell img {
		max-height: 100%;
	}
	
	.container img {
		display: none;
	}
	
	.tab-content {
		display: block;
	}
	
	#services img, #packages section:last-of-type img {
		float: left;
	}
	
	#instructors .col-5-6 {
		position: static;
		width: 100%;
	}
	
	
	
	

} 





